.divManage{
}

.menuAdmin{
    background-color:orangered;
    height: 1000px;
    width: 800px;
    /* border-top: 1px solid white; */
}
.headerAdmin{
    background-color: orange;
    height: 70px;
    width:100%;
}
.headeradmin{
    height: 55px;
    width:100%;
    background-color: orange;
    padding-top: 10px;
}
.divManage{
    display: flex;
}
.divDataMana{
    margin-left: 22%;
}
.divMenus{
    display: flex;
}
.divMenus a{
    padding-left: 30px;
    float: right;
}
/* ---------------Table----------- */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;

  }
  th, td {
    padding: 5px;
    text-align: left;    
  }
.divTable{
    margin-top: 20px;
}
